body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {}

ul {
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 15px;
}

/* TOP SECTION */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
    background-color: #1F2937;
    color: white;
    margin: 0
}

.links {
    display: flex;
} 

/* TOP MIDDLE SECTION */

.hero {
    display: flex;
    padding: 30px 120px;
    background-color: #1F2937;
    color: white;

}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 70px
    
}

.sky {
    width: 50%;
    height: auto;
}

button {
    width: 100px
    
}

/* MIDDLE SECTION */

.info {
    padding: 0px 120px;

}

.image {
    width: 100px;
    height: 50px;
    flex-grow: 1;
    border: 5px solid #3882F6;
    border-radius: 25px

}

.subheading {
    display: flex;
    justify-content: center;
    margin-bottom: 70px
}

.content {
    display: flex;
}

.first {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    align-items: center;
    text-align: center
}

.second {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    align-items: center;
    text-align: center
}

.third {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    align-items: center;
    text-align: center
}

.fourth {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 10px;
    align-items: center;
    text-align: center
}

/* QUOTE */

.quote {
    padding: 100px 120px;
    margin-top: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.words {
    display: flex;
    width: 70%;
}

.author {
    display: flex;
    width: 90%;
    font-weight: 700;
    font-size: 20px;
    justify-content: flex-end;
    margin-top: 0px
}